:root{
 /* ## Colors */
    /* ### Primary */
    --clr-Very-Dark-Blue: hsl(243, 87%, 12%);
    --clr-Desaturated-Blue: hsl(238, 22%, 44%);
    
    /* ### Accent */
    --clr-Bright-Blue: hsl(224, 93%, 58%);
    --clr-Bright-Blue-hover: hsl(224, 91%, 63%);
    --clr-ModerateCyan: hsl(170, 45%, 43%);
    
    /* ### Neutral */
    --clr-Light-Grayish-Blue: hsl(240, 75%, 98%);
    --clr-Light-Gray: hsl(0, 0%, 75%);
    
/* ## Typography */    
    /* ### Body Copy */
    
    --Fontsize: 16px;
    
    /* ### Fonts */
    /* #### Headings, Call-to-actions, Header Navigation */
    --Raleway: 'Raleway', sans-serif;
    --HB-Weights: 400; 
    --H-Weights: 700;
    
    /* #### Body */
    --Open-Sans: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: var(--Fontsize);
    font-family: var(--Open-Sans);
    font-weight: var(--HB-Weights);
    color: var(--clr-Very-Dark-Blue);
}

h2{
    font-size: 2.1rem;
    font-weight: var(--H-Weights);
    font-family: var(--Raleway);
    line-height: 1.5;
}

p{
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: var(--Raleway);
}

.invalid1, .invalid{
    color: rgb(245, 74, 74);
    text-align: left;
    font-size: .75rem;
}

header li a{
    cursor: pointer;
    color: var(--clr-Very-Dark-Blue);
    text-decoration: none;
}

.blue__Button{
    background-color: var(--clr-Bright-Blue);
    color: var(--clr-Light-Grayish-Blue);
    font-size: .8rem;
    padding: .8rem 3rem;
    border-radius: 2.5px;
    text-align: center;
    cursor: pointer;
}

.blue__Button:hover{
    background-color: var(--clr-Bright-Blue-hover);
}

header{
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem;
    margin-bottom: 3rem;
}

nav{
    justify-content: space-between;
    align-items: center;
}

.links{
    gap: 2rem;
}

.get__Started{
    gap: 1rem;
}

.remarks{
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: 1rem;
}

form{
    gap: .8rem;
    width: 100%;
    flex-wrap: wrap;
}

.remarks input{
    width: 50%;
    height: 40px;
}

.illustration{
    flex: 1;
}

.illustration img{
    width: 100%;
}

.curve{
    background-image: url(/images/bg-curve-desktop.svg);
    height: 100px;
}

.team{
    background-color: var(--clr-Light-Grayish-Blue);
    gap: 2rem;
    padding: 2.5rem;
}

.team a{
    color: var(--clr-ModerateCyan);
}

.team .remarks{
    gap: 2.4rem;
    
}

.more{
    flex-direction: column;
    gap: 1rem;
}

.quote{
    flex-direction: column;
    text-align: left;
    background-color: white;
    padding: 1.8rem;
    gap: .5rem;
    max-width: 420px;
    border-radius: 5px;
    box-shadow: 1px 2px 7px gray;
}

.quote span:nth-child(1){
    font-weight: var(--H-Weights);
}

.founder__ceo{
    gap: 1rem;
}

.kyle img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.kyle + div{
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
}

.early__Access{
    background-color: var(--clr-Desaturated-Blue);
    color: var(--clr-Light-Grayish-Blue);
    padding: 3.5rem 2.5rem;
    gap: 1.5rem;
    justify-content: space-between;
    line-height: 1.4;
}

h3{
    font-size: 1.7rem;
    font-weight: var(--H-Weights);
    font-family: var(--Raleway);
    line-height: 1.5;
}

.get__Access{
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.start__Free{
    width: 40%;
    flex-direction: column;
    justify-content: center;
    gap: .7rem;
}

.start__Free input{
    height: 40px;
    width: 80%;
}

.start__Free .blue__Button{
    width: 50%;
}

footer{
    padding: 3.5rem 3rem;
    color: white;
    background-color: var(--clr-Very-Dark-Blue);
    flex-direction: column;
    gap: 1.7rem;
    font-weight: var(--HB-Weights);
    font-family: var(--Raleway);
}

footer .white__logo img{
    width: 155px;
    height: 45px;
}

.contact__about__socials{
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 8rem;
}

.contact, .aboutUs, .contactUs{
    flex-direction: column;
    gap: 1rem;
}

.aboutUs span, .contactUs span{
    cursor: pointer;
}

.aboutUs span:hover{
    color: var(--clr-Bright-Blue-hover);
}

.contactUs span:hover{
    color: var(--clr-Bright-Blue-hover);
}

.contact div{
    gap: 1rem;
}

.socials{
    gap: 1rem;
    justify-content: flex-start;
}

.socials div{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    padding: .5rem;
    justify-content: center;
    align-items: center;
}

.socials div:nth-child(1){
    padding: .5rem .7rem;
}

.socials div:nth-child(3){
    padding: .5rem .6rem;
}

.socials div:hover{
    border: 1px solid var(--clr-Bright-Blue-hover);
}

.socials div svg:hover{
    fill: var(--clr-Bright-Blue-hover);
}


@media(max-width:800px) {
    body{
        font-size: 13px;
    }

    header{
        padding: 3rem 1.5rem;
    }
    .logo img{
        width: 110px;
    }
    .get__Started, .team{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .links{
        gap: 1rem;
    }

    .sign{
        align-items: center;
    }

    .curve{
        background-image: url(/images/bg-curve-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .remarks{
        align-items: center;
    }

    .remarks form{
        flex-direction: column;
        width: 100%;
    }

    .remarks form input{
        height: 40px;
        width: 100%;
    }

    .team{
        padding: 3rem 1.5rem;
    }

    .early__Access{
        padding: 3rem 1.5rem;
        flex-direction: column;
    }

    .get__Access, .start__Free{
        width: 100%;
    }

    h3{
        text-align: center;
    }

    .early__Access p{
        text-align: center;
    }

    .start__Free{
        justify-content: center;
        align-items: center;
        gap: .2rem;
        width: 100%;
    }

    .start__Free input{
        height: 40px;
        width: 80%;
    }

    .start__Free .blue__Button{
        width: 80%;
    }

    footer{
        padding: 3rem 1.5rem;
    }

    .contact__about__socials{
        flex-direction: column;
        gap: 3.5rem;
        padding-right: 0;
    }

    .socials{
        gap: 1rem;
        align-self: center;
    }
}